@(emailForm: Form[security.BackendUsernamePasswordAuthProvider.MyIdentity])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.password.forgot.title")) {

	<h2>@Messages("playauthenticate.password.forgot.title")</h2>
	<p>
	@form(routes.Signup.doForgotPassword) {
	   
            @if(emailForm.hasGlobalErrors) { 
                <p class="error">
		            <span class="label label-important">@emailForm.globalError.message</span>
		        </p>
            }

    @inputText(
        emailForm("email"),
        '_showConstraints -> false,
        '_label -> Messages("playauthenticate.login.email.placeholder")
    )

           
		<input type="submit" value="@Messages("playauthenticate.password.forgot.cta")" class="btn btn-primary"> 
	}
	</p>
}