@(title: String, nav: String = "", scripts: Html = Html(""), styles: Html = Html(""), currentCollection: ArticleCollection = null)(content: Html)
@import actions.GlobalContextHelper
@import actions.UserAddress
@import com.feth.play.module.pa.views.html._
<!DOCTYPE html>
<html lang="@lang()">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="@routes.Assets.at("img/favicon.png")">

        <title>@title</title>

        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap.3.0.2/css/bootstrap.css")" />

            <!-- Custom styles for this template <link href="justified-nav.css" rel="stylesheet"> -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="pull-right">
                @if( UserAddress.current() != null ) {
                    <img alt="@UserAddress.current().preName @UserAddress.current().name" src="@UserAddress.current().getProfilePictureUrl()" width="29" height="29" />
                    <a href="@routes.AccountController.profile">@UserAddress.current().preName @UserAddress.current().name</a>
                } else {
                <button class="btn-link" data-target="#loginModal" data-toggle="modal" >@Messages("playauthenticate.navigation.login") / @Messages("playauthenticate.navigation.signup")</button>
                }&nbsp;&nbsp;|&nbsp;@if(nav != "checkout"){<button class="btn-link" data-target="#shoppingCartModal" data-toggle="modal" >}@Messages("blastshop.shoppingcart.title") <span data-bind="if: shoppingCart() != null">(<span data-bind="text: shoppingCart().rowCount"></span>)</span>@if(nav != "shoppingCart"){</button>}&nbsp;|&nbsp;&nbsp;<a href="#" onclick="setLanguage('deu')">Deutsch</a> - <a href="#" onclick="setLanguage('eng')">English</a>
            </div>
            <div class="masthead">
                <h3 class="text-muted"><a href="@routes.ShopController.index()"><img src="@routes.Assets.at("/img/logo_nb.png")" /></a> @Messages("blastshop.navigation.title")</h3>
                <ul class="nav nav-justified">
                    @for(entry <- GlobalContextHelper.getRootCollection()) {
                    <li class="@if(currentCollection != null && currentCollection.equals(entry)) { active }">
                        <a href="@routes.ShopController.showCollection(entry.id)">@entry.getName(GlobalContextHelper.getUserLanguage)</a>
                    </li>
                    }
                </ul>
            </div>
            <!-- Site content -->
            @content
            <!-- Site footer -->
            <div class="footer">
                <div class="row">
                    <div class="col-lg-3">
                        <h3>@GlobalContextHelper.getRootMenu(1).getTitle(GlobalContextHelper.getUserLanguage())</h3>
                        <ul>
                            @for(siteentry <- GlobalContextHelper.getRootMenu(1).childWebsites) {
                                <li><a href="@routes.ShopController.getSite(siteentry.id, siteentry.getURLfriendlyTitle(GlobalContextHelper.getUserLanguage()))">@siteentry.getTitle(GlobalContextHelper.getUserLanguage())</a></li>
                            }
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3>@GlobalContextHelper.getRootMenu(3).getTitle(GlobalContextHelper.getUserLanguage())</h3>
                        <ul>
                        @for(siteentry <- GlobalContextHelper.getRootMenu(3).childWebsites) {
                            <li><a href="@routes.ShopController.getSite(siteentry.id, siteentry.getURLfriendlyTitle(GlobalContextHelper.getUserLanguage()))">@siteentry.getTitle(GlobalContextHelper.getUserLanguage())</a></li>
                        }
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3>@GlobalContextHelper.getRootMenu(4).getTitle(GlobalContextHelper.getUserLanguage())</h3>
                        <ul>
                        @for(siteentry <- GlobalContextHelper.getRootMenu(4).childWebsites) {
                            <li><a href="@routes.ShopController.getSite(siteentry.id, siteentry.getURLfriendlyTitle(GlobalContextHelper.getUserLanguage()))">@siteentry.getTitle(GlobalContextHelper.getUserLanguage())</a></li>
                        }
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        @if( UserAddress.current() != null ) {
                        <h3>@Messages("blastshop.navigation.myaccount")</h3>
                        <ul>
                            <li><a href="@routes.AccountController.profile">@Messages("blastshop.navigation.myaccount")</a></li>
                            <li><a href="@routes.ShopController.showHistory">@Messages("blastshop.navigation.orderhistory")</a></li>
                            <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout">@Messages("playauthenticate.navigation.logout")</a></li>
                        </ul>
                        } else {
                        <h3 class="disabled">@Messages("blastshop.navigation.myaccount")</h3>
                        <ul>
                            <li><a href="@routes.Signup.signup">@Messages("playauthenticate.navigation.signup")</a></li>
                        </ul>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-muted">&copy; blastbeat syndicate gmbh 2014</p>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->

        <!-- Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">@Messages("playauthenticate.login.title")</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form action="@routes.Signup.doLogin" method="POST" role="form">
                                    <div class="form-group">
                                        <label for="email">@Messages("playauthenticate.login.email.placeholder")</label>
                                        <input type="email" class="form-control" id="email" placeholder="@Messages("playauthenticate.login.email.placeholder")">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">@Messages("playauthenticate.login.password")</label>
                                        <input type="password" class="form-control" id="password" placeholder="@Messages("playauthenticate.login.password")">
                                    </div>
                                    <button type="submit" class="btn btn-default">@Messages("playauthenticate.login.now")</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <p>@Messages("playauthenticate.signup.oauth")</p>

                                @_providerPartial(false)
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-success" href="@routes.Signup.signup()" role="button">@Messages("playauthenticate.signup.now")</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Modal -->
        <div class="modal fade" id="shoppingCartModal" tabindex="-1" role="dialog" aria-labelledby="shoppingCartModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">@Messages("blastshop.shoppingcart.title")</h4>
                    </div>
                    <div class="modal-body" data-bind="with: shoppingCart">
                        <table width='100%'>
                            <thead>
                                <tr>
                                    <th width='25%'>@Messages("blastshop.shoppingcart.product")</th>
                                    <th class='' width='15%'>@Messages("blastshop.shoppingcart.price")</th>
                                    <th class='' width='10%'>@Messages("blastshop.shoppingcart.quantity")</th>
                                    <th class='' width='15%'>@Messages("blastshop.shoppingcart.subtotal")</th>
                                    <th width='10%'> </th>
                                </tr>
                            </thead>
                            <tbody data-bind='foreach: rows'>
                                <tr>
                                    <td data-bind="if: articleOption() != null">
                                        <span data-bind="text: articleOption().number"></span>
                                    </td>
                                    <td class=''>
                                        <span data-bind="text: formatCurrency(price())"></span>
                                    </td>
                                    <td class=''>
                                        <input data-bind='value: quantity, valueUpdate: "afterkeydown"' />
                                    </td>
                                    <td class=''>
                                        <span data-bind='text: formatCurrency(rowTotal())' > </span>
                                    </td>
                                    <td>
                                        <a href='#' class="text-danger" data-bind='click: $parent.removeRow'>&times;&nbsp;@Messages("blastshop.shoppingcart.remove")</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            @Messages("blastshop.shoppingcart.grandtotal") <span data-bind='text: formatCurrency(subTotal())'> </span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("blastshop.shoppingcart.shopfurther")</button>
                        <a class="btn btn-success" href="@routes.ShopController.showCheckout()" role="button">@Messages("blastshop.shoppingcart.gotocheckout")</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("lib/require.2.1.8/require.js")" data-main="/assets/js/main" ></script>
    </body>
</html>

