<section>
    <h2 data-bind="html: displayName"></h2>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Adresses</div>
        <div class="panel-body">


        </div>

        <!-- Table -->
        <table class="table" data-bind="foreach: addresses">
            <tr data-bind="attr: { adrid: id }">
                <td data-bind="text: preName, click:$parent.selectAddress"></td>
                <td data-bind="text: name"></td>
                <td><a class="btn" data-bind="attr: { href: getURL }">Edit</a>

                    <!-- <button class="btn" data-bind="click: $parent.selectAddress">Edit</button>-->
                    <button class="btn btn-danger" data-bind="click: $parent.deleteAddress">Delete</button></td>
            </tr>
        </table>
    </div>

    <button class="btn btn-success" data-bind="click: createAddress">Add (Ctrl+A)</button>
    <!--
    <div data-bind="with:selectedAddress">
    <form class="form-inline" data-bind="submit: $parent.submitAddress">
        <span data-bind="text: editText">Edit Address</span>
        <input type="text" data-bind="value: name" id="addressName" placeholder="Name" />
        <input type="text" data-bind="value: preName" id="addressPreName" placeholder="Prename" />
        <button type="submit" class="btn btn-primary">Save (Ctrl+S)</button>
        <button class="btn" data-bind="click: $parent.clearAddress">Cancel (Esc)</button>
    </form>
    </div>
    -->
</section>